<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gift_of_the_Givers_Foundation</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gift_of_the_Givers_Foundation.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="nav">
          
                <a class="nav_logo" asp-area="" asp-controller="Home" asp-action="Index">Gift_of_the_Givers_Foundation</a>

               
                  
               
                    <ul class="nav_items">
                        <li class="nav-item">
                            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">Services</a>
                            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                    </ul>
      
                    <div class="btn_group">
                        <button class="button">SignUp</button>
                        <button class="button">SignIn</button>
                    </div>
                   

          
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Gift_of_the_Givers_Foundation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
